.post
  %h1
    #{@title}
  - if @subtitle
    %h2.subtitle
      #{@subtitle}
  %hr
  :preserve
    #{@content}
  %p.footer
    First published on #{@date} by #{@author.join(", ")}.
  - if @tags.length > 0
    %h3 Tags
    %p
      - @tags.each_with_index do |tag, i|
        - if i < @tags.length - 1
          = succeed ',' do
            %a{:href=>"/tags/#{tag}", :title=>tag, :alt=>"List topics relating to #{tag}"}=tag
        - else
          %a{:href=>"/tags/#{tag}", :title=>tag, :alt=>"List topics relating to #{tag}"}=tag
  %h3 Comments
  %p
    If you'd like to comment, just send me an email at wilkie@xomb.org or on either
    %a{:href=>"http://twitter.com/wilkieii", :title=>"Twitter Profile", :alt=>"Twitter Profile"} Twitter
    or via my
    %a{:href=>"https://#{MASTODON_DOMAIN}/@#{MASTODON_USERNAME}", :title=>"mastodon Profile", :alt=>"mastodon Profile"} mastodon
    profile. I will love to hear from you! Any opinions, criticism, etc are welcome.
  %h3 Donations
  %p
    If you'd like to make a donation, I don't know what is best for that. Let me know.
  -# if @gittip.count > 0
    %ul{:style => "list-style:none"}
      - @gittip.each_with_index do |tippee, i|
        - next if tippee == "no"
        %li
          %iframe{:style=>"vertical-align:middle; border: 0; margin-top: 0px; padding: 0;",
                  :src=>"https://www.gittip.com/#{tippee}/widget.html",
                  :width=>"62pt", :height=>"21pt"}
          Support #{@author[i]}

  %h3 Copyright
  %p
    All content off of this domain, unless otherwise noted or linked from a different domain, is licensed as
    %a{:href=>"http://creativecommons.org/publicdomain/zero/1.0/", :title=>"CC0 License", :alt=>"Creative Commons Zero 1.0 License"}
      CC0

- content_for :summary do
  #{@summary}

- content_for :toc do
  = format_outline @outline
