.post
  %h1
    #{@title}
  %hr
  :preserve
    #{@content}
  %p.footer
    First published on #{@date} by #{@author}.
  %hr
  - if @tags.length > 0
    %p
      This is a post regarding
      - @tags.each_with_index do |tag, i|
        - if i < @tags.length - 1
          = succeed ',' do
            %a{:href=>"/tags/#{tag}", :title=>tag, :alt=>"List topics relating to #{tag}"}=tag
        - else
          = succeed '.' do
            %a{:href=>"/tags/#{tag}", :title=>tag, :alt=>"List topics relating to #{tag}"}=tag
    %hr
  %p
    If you'd like to comment, just send me an email at wilkie@xomb.org or on either 
    %a{:href=>"http://twitter.com/wilkieii", :title=>"Twitter Profile", :alt=>"Twitter Profile"} Twitter
    or via my
    %a{:href=>"https://rstat.us/users/DaveWilkinsonII", :title=>"rstat.us Profile", :alt=>"rstat.us Profile"} rstat.us
    profile. I will love to hear from you! Any opinions, criticism, etc are welcome.
    All content off of this domain is licensed as
    %a{:href=>"http://creativecommons.org/publicdomain/zero/1.0/", :title=>"CC0 License", :alt=>"Creative Commons Zero 1.0 License"}
      CC0

- content_for :summary do
  #{@summary}

- content_for :toc do
  = format_outline @outline
