.post
  %h1
    All posts tagged #{@tag}
  %hr
  - if @content
    :preserve
      #{@content}
  - unless @subtags.empty?
    %hr
    %h2
      All subtags under #{@tag}
    - @subtags.each do |tag, content|
      %h3
        %a{:href=>"/tags/#{@tag}/#{tag}", :title=>"All posts tagged #{tag}", :alt=>"All posts tagged #{tag}"}
          #{tag}
      :preserve
        #{content}
  - @posts.each do |post|
    %hr
    %h2
      %a{:href=>post.url, :title=>post.title, :alt=>post.title}
        #{post.title}
    - if post.summary
      %p
        #{post.summary}
  %hr
  %p
    If you'd like to comment, just send me an email at wilkie@xomb.org or on either 
    %a{:href=>"http://twitter.com/DaveWilkinsonII", :title=>"Twitter Profile", :alt=>"Twitter Profile"} Twitter
    or via my
    %a{:href=>"https://rstat.us/users/DaveWilkinsonII", :title=>"rstat.us Profile", :alt=>"rstat.us Profile"} rstat.us
    profile. I will love to hear from you! Any opinions, criticism, etc are welcome.
    All content off of this domain is licensed as
    %a{:href=>"http://creativecommons.org/publicdomain/zero/1.0/", :title=>"CC0 License", :alt=>"Creative Commons Zero 1.0 License"}
      CC0

- content_for :summary do
  #{@summary}

- content_for :toc do
  = format_outline @outline
